
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .header {
        padding-right: 20px;
        padding-left: 20px;
    }
    .promo {
        &__header {
            padding-right: 20px;
        }
        &__subheader {
            padding-right: 20px;
        }
        &__icons {
            padding-right: 20px;
        }
        &__link {
            padding-right: 20px;
        }
    .button {
        &_main {
            margin-right: 20px;
        }
        }
    }
    .advantage {
        &__text {
            width: 255px;
        }
    }
    .consultation {
        .title_left {
            margin-left: 40px;
        }
        &__descr {
            margin-left: 40px;
        }
        .feed-form {
            margin-left: 40px;
        }
    }
    .carousel {
        &__inner {
            width: 750px;
            height: 750px;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    .footer {
        &__info {
            width: 350px;
            height: 220px;
            padding: 20px 15px;
        }
    }
    .modal {
        &__close {
            top: 10px;
            right: 10px;
            }
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 10px;
        &__phone {
            font-size: 16px;
        }
        &__official {
            span {
                font-size: 14px;
            }
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            padding-right: 0;
        }
        &__subheader {
            padding-right: 0;
        }
        &__icons {
            padding-right: 0;
        }
    }
    .advantage {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
        }
        &__block {
            margin-top: 20px;
        }
    }
    .consultation {
        .title_left {
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin-left: 20px;
        }
    }
    .carousel {
        &__inner {
            width: 550px;
            height: 550px;
            // img {
            //     // width: 100%;
            //     margin: 0 auto;
            // }
        }
    }
    .catalog {
        &__tab {
            width: 160px;
            font-size: 15px;
        }
    }
    .footer {
        &__info {
            width: 350px;
            height: 220px;
            padding: 20px 15px;
        }
    }
    .modal {
        &__close {
            top: 10px;
            right: 10px;
            }
    }
}

@media (max-width: 575px) {
    .header {
        flex-direction: column;
        &__contacts {
            margin-top: 15px;
            .button {
                margin-top: 10px;
            }
        }
        &__official {
            margin-top: 15px;
        }
    }
    .promo {
        &__header {
            padding-right: 0;
            text-align: center;
        }
        &__subheader {
            padding-right: 0;
            text-align: center;
        }
        &__icons {
            width: 100%;
            padding-right: 0;
            justify-content: center;
        }
    }
    .button {
        &_main {
            margin-left: 20px;
        }
    }
    .advantage {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
        }
        &__block {
            margin-top: 20px;
        }
        .title {
            font-size: 28px;
        }
    }
    .consultation {
        .title_left {
            text-align: center;
            line-height: 40px;
            font-size: 30px;
            margin: 0 5px;
        }
        &__descr {
            text-align: center;
            margin: 10px 5px;
        }
        .feed-form {
            margin: 30px auto;
            justify-content: center;
        }
    }
    .carousel {
        &__inner {
            width: 300px;
            height: 300px;
            // img {
            //     // width: 100%;
            //     // margin: 0 auto;
            // }
        }
    }
    .catalog {
        &__tabs {
            display: block;
        }
        &__tab {
            margin: 10px auto ;
        }
    }
    .comments {
        &__content {
            padding-left: 0;
        }
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 20px auto 0;
        }
        &__photo {
            margin: 0 auto;
        }
        &__wrapper {
            width: 90%;
            padding: 0 5px;
            margin: 10px auto 0;
            text-align: center;
        }
    }
    .footer {
        &__info {
            width: 310px;
            height: 160px;
            padding: 10px 10px;
        }
        &__addr {
            font-size: 15px;
            line-height: 15px;
            margin-bottom: 20px;
        }
        &__phone {
            font-size: 15px;
            line-height: 15px;
            margin-bottom: 20px;
        }
    }
    .modal {
        width: 300px;
        padding: 35px 0 0;
        min-height: 380px;
        &__close {
            top: 10px;
            right: 10px;
        }
    }
    .feed-form {
        width: 250px;
        margin: 20px auto;
        font-size: 15px;
        line-height: 15px;  
    }
}


@media (max-width: 320px) {
    .header {
        flex-direction: column;
        &__contacts {
            margin-top: 15px;
            .button {
                margin-top: 10px;
            }
        }
        &__official {
            display: none;
        }
    }
    .promo {
        &__header {
            font-size: 35px;
            text-align: center;
        }
        &__subheader {
            font-size: 20px;
            text-align: center;
        }
        &__icons {
            justify-content: center;
            width: 100%;
        }
        &__icon {
            width: 95px;
        }
    }
    .button {
        &_main {
            width: 250px;
            margin-left: 20px;
        }
    }
    .advantage {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
        }
        &__block {
            margin-top: 20px;
        }
    }
    .consultation {
        .title_left {
            text-align: center;
            font-size: 25px;
            line-height: 25px;
            margin: 0 5px;
        }
        &__descr {
            text-align: center;
            padding: 0 10px;
            font-size: 16px;
            line-height: 16px;
            margin: 10px 5px;
        }
    }
    .catalog-item {
        width: 300px;
        padding: 20px 10px 26px 10px;
        }
    .comments {
        .title {
            font-size: 25px;
        }
        &__content {
            padding-left: 0;
        }
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 20px auto 0;
        }
        &__photo {
            margin: 0 auto;
        }
        &__wrapper {
            width: 300px;
            padding: 0 5px;
            margin: 10px auto 0;
            text-align: center;
        }
    }
    .modal {
        width: 300px;
        padding: 35px 0 0;
        min-height: 380px;
        &__close {
            top: 10px;
            right: 10px;
        }
    }
    .feed-form {
        width: 250px;
        margin: 20px auto;
        font-size: 15px;
        line-height: 15px;  
    }
}






















    

